.Pipe-top {
  width: 50px;
  height: 200px;

  position: absolute;
  top: 0;
  left: 150px;

  background: url(../../assets/pipe-top.png);
  background-position: bottom;
}

.Pipe-bottom {
  position: absolute;
  top: 300px;
  left: 150px;

  width: 50px;
  height: 200px;

  background: url(../../assets/pipe-bottom.png);
}
